<html>
    <head>



    </head>



    <body>
        <div class="login-form">
            <form action="/hr/tests/login" method="POST">
            <input id="email-1" type="email" name="email" placeholder="E-mail">
            <input id="password-1" type="password" name="password" placeholder="password">
            <button id="login-button">login</button>
            </form>


        </div>
    <script>
        
        const email = document.getElementById('email-1')
        const password = document.getElementById('password-1')
        
    </script>
    


    </body>


</html>