<html>
    <head>




    </head>

    <body>
        <p>{{user}}</p>

        <button id="get_all_user">get_all_users</button>
        <button id="get_all_hr">get all hr</button>
        <button id="update_an_hr">update hr information</button>
        <button id="update_user_info">update user info</button>
        <div class="data">
            <p></p>
        </div>
        

    <script>
        var i=0;
        document.querySelector('#get_all_user').addEventListener('click', ohhh)
        document.querySelector('#get_all_hr').addEventListener('click', oh)
        
        
        function ohhh(res){
            
        }
        function oh(){
            fetch('/hr')
            
        

            
        }

    </script>

    </body>
</html>